.content {
  overflow-y: scroll;
  height: calc(100vh - 60px);
  padding: 0 var(--space-6xl);
  background-color: var(--color-bg-default);

  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none; /* Disable scrollbar IE 10+ */

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
  }

  .list-item {
    text-align: left;
    margin: var(--space-xl) 0;
    &_name {
      margin-bottom: var(--space-s);
      &::first-letter {
        text-transform: uppercase;
      }
    }
    &_description {
      &::first-letter {
        text-transform: uppercase;
      }
    }
    &_highlight {
      background: var(--color-typo-normal);
    }
  }

  &_no-result {
    margin-top: var(--space-3xl);
  }
}
